# ==============================
# Python / FastAPI 기본
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# ==============================
# 환경 및 보안
# ==============================
.env
alembic.ini

# ==============================
# IDE / 가상환경
# ==============================
.vscode/
.venv/
.idea/

# ==============================
# 빌드 / 배포 산출물
# ==============================
dist/
build/
*.egg-info/

# ==============================
# 개발 테스트 스크립트 (비공개)
# ==============================
__db_test__.py
__db_make_views__.py

# ==============================
# OS 자동 생성 파일
# ==============================
.DS_Store
Thumbs.db
